<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input type="text" placeholder="search">
            <i class="fa fa-search"></i>
        </div>
        <ul class="list">
            <!-- <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar">
                <div class="about">
                    <div class="name">
                        {{nickName}}
                    </div>
                    <div class="status">
                        <i class="fa fa-circle online"></i>online</div>
                </div>
            </li> -->
            <li class="clearfix" *ngFor="let user of currentUsers">
                <img src="http://via.placeholder.com/350x150" alt="avatar">
                <div class="about">
                    <div class="name">
                        {{user}}
                    </div>
                    <div class="status">
                        <i class="fa fa-circle online"></i>online</div>
                </div>
            </li>

        </ul>
    </div>
    <div class="chat">
        <div class="chat-header clearfix">
            <div class="img"></div>
            <div class="chat-about">
                <div class="chat-with">{{roomName}}</div>
            </div>
            <i class="fa fa-star"></i>
        </div>
        <div class="chat-history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <ul>
                <li *ngFor="let message of messages" class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">{{message.timestamp}}</span>
                        <span class="message-data-name">{{message.sender}}</span>&nbsp;&nbsp;
                        <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message other-message float-right">
                        {{message.text}}
                    </div>
                </li>
                <!-- <li class="clearfix">
                        <div class="message-data">
                            <span class="message-data-name">
                                <i class="fa fa-circle online"> &nbsp;&nbsp;</i>Satyam
                            </span>
                            <span class="message-data-time">10:12 Am, Today</span>
                        </div>
                        <div class="message my-message">
                            Hey Gopal,i'm doing awesome.you tell me something about you.
                        </div>
                    </li> -->
                <!-- <li *ngFor="let message of messages">{{message}}</li> -->
            </ul>
            <p *ngIf="isUserTyping" class="typing-note">{{userTypeName}} is typing ...</p>
        </div>
        <div class="chat-message clearfix">
            <div class="message-area">
                <textarea [(ngModel)]="message" id="message" placeholder="Type your message and press enter to send" rows="3" (keydown)="keydownFunc($event)">
                        </textarea>
                <button (click)="sendMessage()">SEND</button>
                <i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-smile-o"></i>

            </div>
        </div>
    </div>
</div>